@import '../constants';

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 25px;

    @include dark-mode {
      background-color: $dark-gray;
    }

    .projectContainer {
        display: flex;
        flex-basis: 50%;
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 50px;
        flex: 1;

        @include dark-mode {
          background-color: $dark-gray;
        }

        @include mobile {
            justify-content: center;
        }
    }

    .subheader {
        @include section-header-style;
        width: 90%;
        padding: 0 10px;
        margin-bottom: 50px;
        text-align: left;

        @include mobile {
            font-size: 2em;
            text-align: center;
        }

        &.bottom {
            margin-bottom: 0;
        }
    }

    .text {
        text-align: center;
    }
}

.collabContainer {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    padding-left: 10px;
    margin-bottom: 50px;

    @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .collab {
        @include text-style;
        font-size: 0.9em;
        color: $gray;
        margin-right: 5px;
        white-space: nowrap;

        @include mobile {
            margin-bottom: 0;
        }

        &.git {
            cursor: pointer;
        }
    }

    .githubAnchor {
        color: $gray;
    }
}
