@import '../constants';

.aboutMe {
    width: 90%;
    font-size: 1.25em;
    text-align: left;
    margin: 20px 0;

    @include mobile {
        font-size: 1.1em;
    }
}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 50px;

    @include mobile {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
}

.hobbyLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    @include mobile {
        margin-bottom: 20px;
    }

    .hobby {
        font-size: 1.2em;
        margin: 5px;
        color: $gray;
        transition: all 0.4s ease;
    }

    .hobbyIcon {
        width: 20px;
        height: 20px;
        fill: $gray;
        margin: 0;
        margin-right: 5px;
        transition: all 0.4s ease;
    }

    &:hover {
        .hobbyIcon {
            fill: $teal;
        }

        .hobby {
            color: $teal;
        }
    }
}
