@import '../constants';

.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.linksContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    margin: 25px 200px;

    .pageNavigation {
        font-size: 0.9em;
        margin: 0;
        color: $gray;
        cursor: pointer;

        &:hover {
            color: $teal;
        }
    }

    .githubIcon {
        width: 25px;
        height: 25px;
        fill: $gray;

        &:hover {
            cursor: pointer;
            fill: $teal;
        }
    }
}
