@import '../constants';

.project {
    @include subheader-style;
    width: calc(50% - 20px);
    border-radius: 12px;
    border-color: $teal;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    margin: 10px;
    padding: 25px;

    @include mobile {
        width: calc(100% - 20px);
    }
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.codeLinks {
    margin-bottom: 25px;

    .link {
        text-decoration: none;
    }
}

.iconContainer {
    display: flex;

    &:hover {
        cursor: pointer;
        
        .icon {
            fill: $teal;
        }

        .iconText {
            color: $teal;
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        fill: $gray;
        margin: 5px;
        margin-right: 10px;
    }

    .iconText {
        @include text-style;
        font-weight: 300;
        font-size: 1em;
        color: $gray;
        text-align: left;
        margin: 0;
    }
}

.detail {
    @include text-style;
    text-align: left;
    font-size: 1em;
    margin: 0;
}

.description {
    @include text-style;
    font-size: 1em;
    text-align: left;
    margin: 25px 0;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagContainer {
    background-color: $teal;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;

    .tag {
        font-size: 0.8em;
        font-weight: 100;
        text-align: center;
        text-transform: lowercase;
        color: white;
        white-space: nowrap;
    }
}
