@import '../constants';

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include subheader-style;
    width: calc(50% - 20px);
    border-radius: 12px;
    border-color: $teal;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    margin: 10px;
    padding: 25px;

    @include mobile {
        width: 100%;
        padding: 15px;
        margin: 5px 0;
    }
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.codeLinks {
    margin-bottom: 25px;

    .link {
        text-decoration: none;
    }
}

.iconContainer {
    display: flex;

    &:hover {
        cursor: pointer;

        .icon {
            fill: $teal;
        }

        .iconText {
            color: $teal;
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        fill: $gray;
        margin: 5px;
        margin-right: 10px;
    }

    .iconText {
        @include text-style;
        font-weight: 200;
        font-size: 1em;
        color: $gray;
        text-align: left;
        margin: 0;
        white-space: nowrap;
    }
}

.detail {
    @include text-style;
    text-align: left;
    font-size: 0.9em;
    margin: 0;
    color: $gray;

    @include mobile {
        font-size: 0.9em;
    }
}

.description {
    @include text-style;
    font-size: 1em;
    text-align: left;
    margin: 25px 0;

    @include mobile {
        font-size: 0.9em;
    }
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;

    @include mobile {
        padding-top: 0;
    }
}

.tagContainer {
    background-color: $teal;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;

    .tag {
        @include tag-style;
        white-space: nowrap;
    }
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image {
    width: 400px;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: $teal;
    border-width: 2px;
    border-radius: 10px;

    @include mobile {
        height: 250px;
    }
}
