@import '../constants';

.welcomeSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 75px;
    
    @include dark-mode {
      background-color: $dark-gray;
    }

    .welcome {
        @include section-header-style;
        text-align: center;
        margin: 15px;

        @include mobile {
            font-size: 1.5em;
        }
    }
}

.name {
    @include main-header-style;

    @include mobile {
        font-size: 3.5em;
    }
}

.introSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

    @include mobile {
        flex-direction: column;
    }
}

.profilePic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: $teal;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 25px;

    @include mobile {
        width: 250px;
        height: 250px;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 25px;

    @include mobile {
        width: 90%;
        margin: 0;
    }
}
