@import './constants';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontalRule {
    width: 90%;
    height: 1px;
    background-color: $teal;
}

.link {
    text-decoration: none;
}

p {
    @include text-style;
    margin-bottom: 0;
    text-align: center;

    @include mobile {
        font-size: 1.1em;
    }
}

h2 {
    @include subheader-style;
    font-size: 1.5em;
}

h3 {
    @include subheader-style;

    @include mobile {
        font-size: 1.1em;
    }
}
