
@import './constants';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
    color: $teal;
}

.horizontalRule {
    width: 90%;
    height: 1px;
    background-color: $teal;
}

.welcomeSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;

    .textContainer {
        display: flex;
        flex-direction: column;
        width: 55%;
        margin: 25px;
    }
}

.subheader {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
    color: $teal;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.5;
    color: $teal;
    margin-bottom: 0;
}

.profilePic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: $teal;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 25px;
}
