
/*export const isProduction = process.env.NODE_ENV === 'production';*/

$raleway: 'Raleway', sans-serif;
$ralewayDots: 'Raleway Dots', cursive;
$quicksand: 'Quicksand', sans-serif;

$blueGrey: #cee1e4;
$lightTeal: #a0ece6;
$teal: #00A899;
